.col-md-10.col-md-offset-1
    .row
        .panel.panel-default
            .panel-body
                %h3 Log a New Workout

                - if current_user.exercises.empty?
                    %p.center-text You haven't created any exercises yet. Create some exercises before logging a workout!
                - else
                    = render 'form'

                
:javascript
    $(function() 
    {
        // limits the number of categories
        $('#categories').bind('cocoon:after-insert', function() 
        {
            check_to_hide_or_show_add_link();
        });
    
        $('#categories').bind('cocoon:after-remove', function() 
        {
            check_to_hide_or_show_add_link();
        });
    
        check_to_hide_or_show_add_link();
    
        function check_to_hide_or_show_add_link() 
        {
            if ($('#categories .nested-fields').length == 5) 
            {
                $('#add-category a').hide();
            } 
            else 
            {
                $('#add-category a').show();
            }
        }
    })